
.thank__wrapper {
  position: relative;
  padding: 2rem;
  text-align: center;
}
a.thank-you-link {
  color: initial;
}
h1.thank-you {
  cursor: pointer;
  transition: all 0.4s ease-in;
}
h1.thank-you:hover {
  color: red;
}
.thank__tick-sign-image,
.thank__tick-sign-image img {
  width: 90px;
  margin: 1rem auto;
  display: block;
}
.thank__link-to-home {
  font-style: italic;
  text-decoration: underline;
  color: red;
}
.thank__link-to-home:hover{
  color: green;
}
.thank__bottom-message {
  color: gray;
}
  